In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
import pandas as pd

# Excel file read karne ke liye
data = pd.read_csv(r"C:\Users\lenovo\OneDrive\Documents\covid_data.csv")
data

,Unnamed: 0,date,state,hospitalized_with_symtom,Total_hospitalized,recoverd,death
0,1,5/9/2019,MP,109,54,3,6
1,2,7/9/2019,MP,189,34,2,10
2,3,9/9/2019,MP,200,36,8,13
3,4,10/9/1900,MP,133,54,15,19
4,5,15/9/2019,MP,145,67,23,23
5,6,20/09/2019,MP,215,87,36,29

In [10]:
data.columns

Index(['Unnamed: 0', 'date', 'state', 'hospitalized_with_symtom',
       'Total_hospitalized', 'recoverd', 'death'],
      dtype='object')

In [11]:
data.tail()

,Unnamed: 0,date,state,hospitalized_with_symtom,Total_hospitalized,recoverd,death
1,2,7/9/2019,MP,189,34,2,10
2,3,9/9/2019,MP,200,36,8,13
3,4,10/9/1900,MP,133,54,15,19
4,5,15/9/2019,MP,145,67,23,23
5,6,20/09/2019,MP,215,87,36,29

In [12]:
print("Hello World from my first notebook!")

Hello World from my first notebook!

In [13]:
data.describe()

,Unnamed: 0,hospitalized_with_symtom,Total_hospitalized,recoverd,death
count,6.000000,6.000000,6.000000,6.000000,6.000000
mean,3.500000,165.166667,55.333333,14.500000,16.666667
std,1.870829,42.097110,19.856149,13.156747,8.594572
min,1.000000,109.000000,34.000000,2.000000,6.000000
25%,2.250000,136.000000,40.500000,4.250000,10.750000
50%,3.500000,167.000000,54.000000,11.500000,16.000000
75%,4.750000,197.250000,63.750000,21.000000,22.000000
max,6.000000,215.000000,87.000000,36.000000,29.000000

In [14]:
data.isnull().sum()

Unnamed: 0                  0
date                        0
state                       0
hospitalized_with_symtom    0
Total_hospitalized          0
recoverd                    0
death                       0
dtype: int64