In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
import pandas as pd

# Excel file read karne ke liye
data = pd.read_csv(r"C:\Users\lenovo\OneDrive\Documents\covid_data.csv")
data

,Unnamed: 0,date,state,hospitalized_with_symtom,Total_hospitalized,recoverd,death
0,1,5/9/2019,MP,109,54,3,6
1,2,7/9/2019,MP,189,34,2,10
2,3,9/9/2019,MP,200,36,8,13
3,4,10/9/1900,MP,133,54,15,19
4,5,15/9/2019,MP,145,67,23,23
5,6,20/09/2019,MP,215,87,36,29

In [10]:
data.columns

Index(['Unnamed: 0', 'date', 'state', 'hospitalized_with_symtom',
       'Total_hospitalized', 'recoverd', 'death'],
      dtype='object')

In [11]:
data.tail()

,Unnamed: 0,date,state,hospitalized_with_symtom,Total_hospitalized,recoverd,death
1,2,7/9/2019,MP,189,34,2,10
2,3,9/9/2019,MP,200,36,8,13
3,4,10/9/1900,MP,133,54,15,19
4,5,15/9/2019,MP,145,67,23,23
5,6,20/09/2019,MP,215,87,36,29

In [12]:
print("Hello World from my first notebook!")

Hello World from my first notebook!